.joe{
  font-size:90px;
  color:rgb(0, 0, 0);
  font-family: 'Lobster', cursive;
position: absolute;top:10px;left:600px;
}
.center{

  top:100px;left:400px;
}
.kev{
  border-color: rgb(135, 143, 201);
  position: absolute;top:400px;left:690px;
}
.kay{
  font-size:90px;
  color:rgb(140, 89, 235);
  font-family: 'Lobster', cursive;
  text-align:center;
}
.well{
  font-size:50px;
  color:rgb(255, 255, 255);
  font-family: 'Indie Flower', cursive;
    text-align:center;
}
.lol{
  color: rgb(241, 241, 241);
  font-family: 'Dancing Script', cursive;
    position: absolute;top:10px;left:900px;
}
.meme{
  top:100px;left:500px;
}
.mark{
  font-size:40px;
  color:rgb(0, 0, 0);
  top:300px;
  left:50px;
  width: 40%;
}
.ok{
  font-size:90px;
  color:rgb(140, 89, 235);
  font-family: 'Lobster', cursive;
  text-align:center;
}
.ha{
  width:100%
}
.okie{
    font-family: 'Lobster', cursive;
  position: absolute;top:70px;left:1300px;
}
.mah{
    font-family: 'Lobster', cursive;
    position: absolute;top:70px;left:90px;
}
.hm{
  marquee scrollamount="10"
direction="left"
behavior="scroll"
}
