.joe{
  font-size:90px;
  color:rgb(0, 0, 0);
  font-family: 'Lobster', cursive;
  text-align:center;
}
.center{
  display: block;
  position: absolute;top:400px;left:600px;
}
.kev{
  border-color: rgb(135, 143, 201);
  position: absolute;top:200px;left:700px;
}
.kay{
  font-size:90px;
  color:rgb(140, 89, 235);
  font-family: 'Lobster', cursive;
  text-align:center;
}
.well{
  font-size:50px;
  color:rgb(255, 255, 255);
  font-family: 'Indie Flower', cursive;
    text-align:center;
}
.lol{
  color: rgb(241, 241, 241);
  font-family: 'Dancing Script', cursive;
    position: absolute;top:10px;left:900px;
}
.meme{
  top:100px;left:500px;
}
.mark{
  font-size:70px;
  color:rgb(0, 0, 0);
  top:300px;
  left:500px;
  width: 90%;
}
.ok{
  font-size:90px;
  color:rgb(140, 89, 235);
  font-family: 'Lobster', cursive;
  text-align:center;
}
